services:
  elixir:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /workspace
    volumes:
      - ./:/workspace
    env_file:
      - .env
    tty: true
    stdin_open: true
    environment:
      - MIX_ENV=dev
    command: ["iex", "-S", "mix"]
    develop:
      watch:
        - path: lib/
          action: rebuild
